<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/index.css" rel="stylesheet" type="text/css" />
    <link href="/index.grid.css" rel="stylesheet" type="text/css" />
    <title>Document</title>
</head>

<body>
    <header>회비관리 메신저 서비스</header>
    <div class="buttonContainer">
        <div class="flexContainer" id="user">
            <button class="buttonItem" id="signup-button"> 회원가입 </button>
            <button class="buttonItem" id="login-button"> 로그인 </button>
            <button class="buttonItem" id="logout"> 로그아웃 </button>
        </div>
        <div class="flexContainer" id="channel">
            <button class="buttonItem" id="channel-create-button"> 채널추가 </button>
            <button class="buttonItem" id="channel-search-button"> 채널검색 </button>
            <button class="buttonItem" id="channel-participant-button"> 채널참여 </button>
            <button class="buttonItem" id="channel-list-button"> 참여중 채널 조회 </button>
        </div>
        <div class="flexContainer" id="channel-content">
            <button class="buttonItem" id="channel-see-button"> 채널입장 </button>
            <button class="buttonItem"> 채팅 </button>
        </div>
    </div>
    <div class="logContainer">
        <p class="logRed">### 로그 컨테이너 입니다.</p>
        <p class="logBlue">@@@ 로그 컨테이너 입니다.</p>
        <p>로그 컨테이너 입니다.</p>
    </div>
    <div class="modalContainer">
        <signup-modal></signup-modal>
        <login-modal></login-modal>
        <channel-create-modal></channel-create-modal>
        <channel-search-modal></channel-search-modal>
        <channel-participant-modal></channel-participant-modal>
    </div>

    <footer>Footer</footer>
</body>
<script src="/modal/signup-modal.js" type="module"></script>
<script src="/modal/login-modal.js" type="module"></script>
<script src="/modal/channel-create-modal.js" type="module"></script>
<script src="/modal/channel-search-modal.js" type="module"></script>
<script src="/modal/channel-participant-modal.js" type="module"></script>
<script src="/event/channel-list-event.js" type="module"></script>
</html>